#textdomain wesnoth-Era_of_Myths

[unit_type]
    id=EOM_Flappers
    name= _ "Flappers"
    race=devling
    ignore_race_traits=yes
    {TRAIT_BEEFY}
    {TRAIT_BRAINY}
    {TRAIT_BRAWNY}
    {TRAIT_FEARLESS}
    image="devlings/flappers.png"
    #profile=misc/kapoue.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=24
    movement_type=devlingflyer
    movement=8
    experience=34
    level=1
    alignment=chaotic
    advances_to=EOM_Flyers
    cost=15
    usage=scout
    description= _ "Some devlings are of a slightly different breed, and grow wings, and can spit fire."
    {DEFENSE_ANIM "devlings/flappers.png" "devlings/flappers.png" {SOUND_LIST:ORC_SMALL_HIT} }
    die_sound={SOUND_LIST:ORC_DIE}

    [attack]
        name=glaive
        description=_"mini-glaive"
        icon=attacks/sword-orcish.png
        type=blade
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=breath
        description=_"breath"
        icon=attacks/fireball.png
        type=fire
        range=ranged
        damage=3
        number=3
    [/attack]

    [standing_anim]
        start_time=0
        [frame]
            duration=100
            image="devlings/flappers-stand-1.png"
        [/frame]
        [frame]
            duration=100
            image="devlings/flappers-stand-2.png"
        [/frame]
        [frame]
            duration=100
            image="devlings/flappers-stand-3.png"
        [/frame]
        [frame]
            duration=100
            image="devlings/flappers-stand-4.png"
        [/frame]
        [frame]
            duration=100
            image="devlings/flappers-stand-3.png"
        [/frame]
        [frame]
            duration=100
            image="devlings/flappers-stand-2.png"
        [/frame]
        [frame]
            duration=100
            image="devlings/flappers-stand-1.png"
        [/frame]
    [/standing_anim]

    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            [filter_wml]
                [modifications]
                    [trait]
                        id=greedy
                    [/trait]
                [/modifications]
            [/filter_wml]
        [/filter]
        # set upkeep to 1
        {VARIABLE unit.upkeep 1}
        [unstore_unit]
            variable=unit
            find_vacant=no
        [/unstore_unit]
    [/event]
[/unit_type]
